/* GitPitch Template Theme - Default Styles with modifications by Veronica Andreo */

section.has-dark-background,
section.has-dark-background h1,
section.has-dark-background h2,
section.has-dark-background h3,
section.has-dark-background h4,
section.has-dark-background h5,
section.has-dark-background h6 {
  color: #fff;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #FFF;
  background-color: #FFF;
}

.reveal {
  font-family: "Roboto";
  color: #1C1C1C;
  font-size: 35px;
}

::selection {
  color: #1C1C1C;
  text-shadow: none;
  background: rgba(0, 0, 0, 0.99);
}

::-moz-selection {
  color: #1C1C1C;
  text-shadow: none;
  background: rgba(0, 0, 0, 0.99);
}

.reveal .slides section,
.reveal .slides section > section {
  line-height: 1.3;
  font-weight: inherit;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2 {
  color: #1C1C1C;
  font-family: "Fira Sans";
  font-weight: medium !important;
  text-transform: none;
  margin: 0 0 15px 0;
  line-height: 1.2;
  text-shadow: none;
  letter-spacing: normal;
  word-wrap: break-word;
}

.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  color: #111111;
  font-family: "Fira Sans";
  text-transform: none;
  margin: 0 0 15px 0;
  line-height: 1.1;
  text-shadow: none;
  letter-spacing: normal;
  word-wrap: break-word;
}

.reveal h1 {
  font-size: 2.9em;
}

.reveal h2 {
  font-size: 2.0em;
}

.reveal h3 {
  font-size: 1.5em;
}

.reveal h4 {
  font-size: 1.1em;
}

.reveal h1 {
  text-shadow: none;
}

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 0 auto 15px auto;
  line-height: 1.0;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%;
}

.reveal strong,
.reveal b {
  font-weight: bold;
}

.reveal em {
  font-style: italic;
}

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em;
}

.reveal ol {
  list-style-type: decimal;
}

.reveal ul {
  list-style-type: disc;
}

.reveal ul ul {
  list-style-type: square;
}

.reveal ul ul ul {
  list-style-type: circle;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px;
}

.reveal dt {
  font-weight: bold;
}

.reveal dd {
  margin-left: 40px;
}

.reveal blockquote {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto 15px auto;
  border-radius: 5px;
  padding: 5px;
  font-style: italic;
  background: #f6edd9;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block;
}

.reveal q {
  font-style: italic;
  background: #f6edd9;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

@media (device-width: 100vw) and (device-height: 100vh) {
  .reveal pre code {
    max-height: 50vh !important;
  }
}

.reveal pre {
  display: block;
  position: relative;
  width: 100%;
  margin: 0px;
  text-align: left;
  font-size: 0.5em;
  font-family: monospace;
  line-height: 1.1em;
  word-wrap: break-word;
  box-shadow: none;
}

.reveal code {
  font-family: monospace;
  font-size: 0.95em;
  font-feature-settings: "calt" 1;
}

.reveal pre code {
  font-size: 1.1em;
  line-height: 1.1;
  border-radius: 10px;
  display: block;
  padding: 1px;
  overflow: auto;
  word-wrap: normal;
  max-height: 40vh !important;
}

.reveal .slides section .code-presenting-annotation {
  color: white;
/*
  background: #b5ad86;
  padding: 0px 15px;
  border-radius: 15px;
  opacity: 0.90 !important;
*/
  font-size: 60% !important;
}

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 3px;
  font-size: 17px; 
}

.reveal table th {
  font-weight: bold;
}

.reveal table th,
.reveal table td {
  text-align: left;
  border-bottom: 1px solid;
  padding: 0.2em 0.5em 0.2em 0.5em;
}

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center;
}

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right;
}

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none;
}

.reveal sup {
  vertical-align: super;
  font-size: smaller;
}

.reveal sub {
  vertical-align: sub;
  font-size: smaller;
}

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top;
}

.reveal small * {
  vertical-align: top;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #8EA33B;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease;
}

.reveal a:hover {
  color: rgb(171, 196, 71);
  text-shadow: none;
  border: none;
}

.reveal .roll span:after {
  color: #fff;
  background: #00003f;
}

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 0px 0px 0px 0px;
  border: none;
  box-shadow: none;
  background: none;
}

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear;
}

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #5254F7;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #f6580e;
}

.gp-menu-bars {
  color: #484848 !important;
}

#title-footer {
  background: none !important;
}

#title-footer p.footer-hard  {
  color: black !important;
}

#title-footer p.footer-fade  {
  color: #484848 !important;
}

div.slide-number a {
    color: black !important;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  color: #f6580e;
  background: rgba(0, 0, 0, 0.2);
}

.reveal .progress span {
  background: #f6580e;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*************************************************
 * message box
**************************************************/

.message-box {
  width: 100%;
  border-radius: 15px;
  background-color: rgba(255, 161, 28, 0.726);
  opacity: 30%;
  padding: 7px 15px 7px 15px !important;
  word-wrap: normal;
}

.message-box-white {
  width: 100%;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.700);
  opacity: 30%;
  padding: 7px 15px 7px 15px !important;
  word-wrap: normal;
  font-size: 0.55em;
}

/*********************************************
 * BIO
 *********************************************/
.bio {
  text-align: center;
}

.bio img {
    width: 70%;
    border-radius: 50%;
}

.bio-headline {
  color: black;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 1.0em !important;
}

.bio-byline {
  color: #8EA33B;
  font-size: 0.5em !important;
}

.bio-tagline {
  color: #8EA33B;
  font-size: 0.8em !important;
  font-style: italic !important;
}

.bio-contact {
  color: white;
  font-size: 0.7em !important;
}

.bio-about {
  font-size: 0.8em !important;
}

.bio-fa {
  color: #8EA33B;
}

/** About Template Styles **/

.about-team-pic img {
  border: none !important;
  box-shadow: none !important;
  -webkit-clip-path: circle(35% at 50% 50%);
  clip-path: circle(35% at 50% 50%);
}

/* round clip for img */
.reveal img.clip-img {
  clip-path: circle(30% at 50% 50%);
  -webkit-clip-path: circle(30% at 50% 50%);
}

.about-team-pic-center img {
  width: 70%;
}

.about-team-bio {
  font-size: 0.6em !important;
}

.about-bio-details {
  font-size: 0.8em !important;
}
  

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
    background-color: #fff; }
}
